@import 'fonts';
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura PT Medium';
}

body {
  background: gray;
}

.font-bold {
  font-family: 'Futura PT Bold';
}

.font-big {
  font-size: 20px;
}

.app {
  background: #fff;
  margin: 25px;
}

.calc {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

input[type='radio'] {
  -webkit-appearance: none;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #aaa;
  height: 10px;
  margin: 0 10px;
  outline: none;
  position: relative;
  width: 10px;
}

input[type='radio']::before {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  content: '';
  display: block;
  margin: 15%; // 2*margin + width = 100%
  position: absolute;
  width: 70%;
}

input[type='radio']:checked::before {
  background: #000;
}

.tlt {
  z-index: 1000;
  position: relative;
  background-color: $hint-color;
  padding: 19px 17px;
  color: #fff;
  border-radius: 3;
  width: 250px;
  margin-top: 17px;
  margin-left: 3.2%;
  letter-spacing: 0.01rem;

  &::before {
    top: -14px;
    left: 0px;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-bottom: 15px solid $hint-color;
    border-left: 0px solid transparent;
    border-right: 12px solid transparent;
  }
}

.btn-icon {
  aspect-ratio: 1 / 1;
  border: none;
  outline: none;
  background: #fff;
  width: 20px;

  img {
    opacity: 0.7;
    width: 100%;
  }
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
  margin: auto 10px;

  input {
    display: none;
  }
}

.slide {
  background-color: #d5d5d5;
  border-radius: 24px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slide:before {
  background-color: #fff;
  border-radius: 50%;
  content: '';
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slide {
  background-color: $slider-color;
}

input:checked + .slide:before {
  transform: translateX(16px);
}

.slider {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.checked-title {
  color: #999;
}

.details {
  background: $det-color;
  width: 300px;
  height: 200px;
}
